.hr-data-container {
    margin-top: 50px;
    text-align: center;
}

.display-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-column-gap: 15px;
}

.hr-data-form {
    margin-top: 50px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-column-gap: 15px;
}

.hr-data-form .f-column {
    padding-top: 10px;
    text-align: right;
}

.m-right-10 {
    margin-right: 10px;
}

.hr-data-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    height: 40px;
    width: 200px;
}

.first-row {
    grid-row: 1;
}
  
.f-column {
    grid-column: 1;
}
  
.s-column {
    grid-column: 2;
}
  
.second-row {
    grid-row: 2;
}
  
.third-row {
    grid-row: 3;
}
  
.fourth-row {
    grid-row: 4;
}
  
.fifth-row {
    grid-row: 5;
}
  
.sixth-row {
    grid-row: 6;
}
  
.seventh-row {
    grid-row: 7;
}

.eight-row {
    grid-row: 8;
}

.hr-data-button {
    height: 40px;
    width: 190px;
}

.hr-data-form .f-column-button {
    text-align: right;
  }