.content-wrapper {
  margin-top: 60px;
  min-height: 1000px;
  display: flex;
}

.modal-header {
  position: relative;
  background-color: #f5f5f0;
  width: 90%;
  font-size: large;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ebebe0;
}

.modal-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.modal-row {
  margin-top: 10px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-input {
  border-radius: 5px;
  height: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  padding-left: 5px;
}

.modal-label {
  width: 100%;
}

.button {
  border-radius: 5px;
  border-width: 0px;
  height: auto;
  width: 100px;
  font-size: medium;
  color: white;
  transition: background-color 0.5s ease-out;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 10px;
}

.button:hover {
  background-color: #696969;
  transition: background-color 0.5s ease-out;
}

.add-button {
  background-color: green;
}

.cancel-button {
  background-color: red;
}

.edit-button {
  background-color: orange;
}

.app-table th {
  border-right: 0px;
  font-weight: normal;
  padding: 15px;
}

.app-table {
  -webkit-box-shadow: 7px 7px 10px -5px #888888;
  -moz-box-shadow: 7px 7px 10px -5px #888888;
  box-shadow: 7px 7px 10px -5px #888888;
}

.app-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.app-table tr:first-child th:first-child,
.app-table tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

.app-table tr:first-child th:last-child,
.app-table tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

.app-table tr:last-child th:first-child,
.app-table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.app-table tr:last-child th:last-child,
.app-table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
